<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="test/bootstrap.php" colors="true"
         stopOnFailure="true"
         stopOnError="true"
         stopOnWarning="true"
         processIsolation="false"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         cacheDirectory=".phpunit.cache">
    <source>
      <include>
        <directory suffix=".php">src</directory>
      </include>
      <exclude>
        <directory>./test</directory>
        <directory>./vendor</directory>
      </exclude>
    </source>
    <coverage />

  <testsuites>
    <testsuite name="unit">
      <directory>./test/Test</directory>
    </testsuite>
  </testsuites>
</phpunit>
